.emptyCatalogDiv {
  /* position: fixed; */
  height: 100vh;
  width: 100vw;

  overflow-x: hidden;
  /* background: -webkit-linear-gradient(150deg, #664d7398 45%, #78747a 20%);
  background: -o-linear-gradient(150deg, #664d7398 45%, #78747a 20%);
  background: -moz-linear-gradient(150deg, #664d7398 45%, #78747a 20%);
  background: linear-gradient(150deg, #664d7398 45%, #78747a 20%); */
}

.emptyCatalogText {
  display: flex;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;

  border-style: solid;
  border-color: #5f536598;
  width: fit-content;
  border-radius: 10px;

  background-color: #9b7bac;

  font-family: "Jetbrains Mono";
  font-size: 20px;
  color: #f6e6e6;
}

.redirectToPostDiv {
  display: flex;
  margin: 0 auto;
}

.redirectToPostBtn {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
  color: #f6e6e6;
  background-color: #9b7bac;
  border-style: solid;
  border-color: #5f536598;
  border-radius: 10px;
  padding: 15px;
  font-size: 23px;
}

.redirectToPostBtn:hover {
  background-color: #7a6288;
  transition: all .5s;
}