.catalogNav {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgba(100, 94, 102, 0.984);
  font-family: 'JetBrains Mono';
  font-weight: bold;
  box-sizing: border-box;
}

.catalogLinks>li {
  display: inline;
  width: 100%;
}

.catalogNav ul {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

.catalogNav a {
  color: #cfbdbd;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.catalogNav li:hover {
  cursor: pointer;
  background-color: rgba(230, 215, 224, 0.155);
  /* background-size: cover; */
  background-size: contain;
  transition: all .2s ease-in-out;
  border-radius: 10px;
}