.catalogEntry {
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #e1e1e1;
  width: fit-content;

  margin-left: 37px;
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 25px;

  opacity: 0.8;
  background-color: #7b6e83;
  float: left;
}

.catalogEntry:hover {
  opacity: 1;
  transition: ease-in-out all 0.3s;
}

.openEntryButton {
  margin: 0 auto;
  display: block;
  background-color: #78747abb;
  border-style: solid;
  border-color: #ddd5e2bb;
  border-radius: 10px;
  color: white;
  /* padding: 16px 20px; */
  padding-top: 10px;
  padding-bottom: 10px;

  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  font-family: 'JetBrains Mono';
  font-size: 100%;
  opacity: 1;
}

.openEntryButton:hover {
  background-color: #565357bb;
  transition: all .5s;
}


.productNameDiv {
  display: flex;
}

.catalogProductName {
  margin: 0 auto;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 120%;
  font-family: 'JetBrains Mono';
  background-color: #664d7398;
  border-radius: 10px;
  /* padding-right: 15px;
  padding-left: 15px; */
  padding: 5px;
}

.catalogProductPrice {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 120%;
  font-family: 'JetBrains Mono';
  background-color: #664d7398;
  border-radius: 10px;
  padding: 8px;
  /* padding-right: 5px;
  padding-left: 5px; */
}

.catalogEntryImg {
  padding: 10px;
  border-radius: 8%;
}
