.navBar, .links {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  /* background-color: rgba(173, 132, 193, 0.543); */
  background-color: rgba(78, 73, 80, 0.984);
  font-family: 'JetBrains Mono';
  font-weight: bold;
  box-sizing: border-box;
}

.navBar ul {
  display: flex;
  align-items: center;
  width: 100%;
  /* background-color: rgba(240, 195, 243, 0.096); */
}

.navBar ul li {
  font-size: 120%;
  margin: 0 28px;
}

nav a {
  color: rgb(207, 189, 189);
  text-decoration: none;
  transition: all .2s ease-in-out;
}

nav a:hover {
  color: rgba(235, 195, 221, 0.548);
  background-color: rgba(235, 195, 221, 0.297);
  border-radius: 15%;
  background-size: cover;
  transition: all .2s ease-in-out;
}

.links li {
  display: inline-block;
  list-style: none;
  height: 60px;
  /* should be the same as line-height */
  line-height: 60px;
  /* should be the same as height */
  padding: 0 40px;
}

.logoDiv {
  float: left;
  margin-top: 3px;
}

.navRight {
  width: 10%;
  min-width: 138px;
  justify-content: flex-end;
  padding-right: 10px;

  width: 90%;
  height: 100%;
  display: flex;
}

/* 
header ul {
  margin: 0;
}

header {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

header ul li {
  display: inline-block;
  vertical-align: middle;
}

header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin: 0 1em;
}

header ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
} */