.deleteBtn {
  display: flex;
  background-color: #9e9aa0bb;
  border-radius: 10px;
  color: white;

  float: right;
  padding: 25px;
  margin: 20px;
  border: none;
  cursor: pointer;
  /* width: fit-content; */
  font-family: 'JetBrains Mono';
  font-size: 80%;
}