.searchBarContainer {
  display: flex;
  margin: 0 auto;
  width: 50%;
  padding-top: 10px;
  border-radius: 10px;
}

.searchButton {
  font-family: "Jetbrains Mono";
  border: solid;
  border-color: rgb(227, 226, 224);
  border-radius: 10px;
  height: 50px;
  margin-top: 5px;
  margin-left: 20px;
}

.searchButton:hover {
  cursor: pointer;
  background-color: rgb(233, 230, 226);
  transition: all .4s;
}