* {
  box-sizing: border-box;
}

.registerContainer {
  background-color: #78747a;
  position: fixed;
  height: 100vh;
  width: 100vw;


  background: -webkit-linear-gradient(150deg, #664d7398 45%, #78747a 20%);
  background: -o-linear-gradient(150deg, #664d7398 45%, #78747a 20%);
  background: -moz-linear-gradient(150deg, #664d7398 45%, #78747a 20%);
  background: linear-gradient(150deg, #664d7398 45%, #78747a 20%);

  /* background: -webkit-linear-gradient(70deg, #664d7398 20%, #78747a 50%);
  background: -o-linear-gradient(70deg, #664d7398 40% 50%, #78747a 50%);
  background: -moz-linear-gradient(70deg, #664d7398 50%, #78747a 50%);
  background: linear-gradient(70deg, #664d7398 50%, #78747a 50%); */
}

.registerFormDiv {
  display: flex;
  justify-content: center;
  text-align: center;

  margin: 0 auto;
  background-color: rgba(78, 73, 80, 0.984);
  border-radius: 10px;
  margin-top: 10px;
  padding: 30px;
  width: 50%;

  font-family: 'JetBrains Mono';
  font-size: 140%;
}

.regTitleDiv {
  justify-content: center;
  display: flex;
  padding: 40px;
}

.regTitleSpan {
  align-items: center;
  color: rgb(241, 220, 220);
  font-size: 450%;
  font-family: 'JetBrains Mono';
  background-color: #664d7359;
  border-radius: 10px;
}

label {
  color: #cfbdbd;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
}

.infoBtnDiv {
  position: absolute;
  margin-left: 920px;
  margin-top: -20px;
  /* margin-left: 90vh;
  margin-bottom: 10vh; */
  background: #78747a;
  border-radius: 10%;
}

.infoBtn {
  font-family: 'JetBrains Mono';
  background: none;
  border: none;
  color: #cfbdbd;
  font-size: 100%;
  cursor: pointer;
}

.infoBtn:active {
  color: #cfbdbd94;
  border: #f1f1f1;
}

.errorDiv {
  border-style: solid;
  border-width: thin;
  border-color: #FFFFFF;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  color: rgba(253, 77, 77, 0.609);
  background-color: #78747a70;
  font-size: 75%;
}
