.catalogHeader {
  padding: 40px;
  text-align: center;
  /* background: #664d7398; */
  background: linear-gradient(-70deg, #664d73ef 20%, #78747ad8 80%), url('../../../img/geets.jpg');
  color: #f6e6e6;
  font-size: 28px;
  text-shadow: 3px 3px #47365098;
  font-family: "Jetbrains Mono";
}

/* .catalogHeader:hover {
  background: #82639398;
  transition: all .4s ease-in-out;
} */