footer {
  /* position: relative; */
  position: absolute;
  background-color: rgba(78, 73, 80, 0.984);
  width: 100%;
  font-family: 'JetBrains Mono';
  color: rgb(241, 220, 220);
  text-align: center;
  margin: auto;
  bottom: 0;
}