.loginContainer {
  background-color: #78747a;
  position: fixed;
  height: 100vh;
  width: 100vw;

  background: -webkit-linear-gradient(30deg, #78747a 45%, #664d7398 20%);
  background: -o-linear-gradient(30deg, #78747a 45%, #664d7398 20%);
  background: -moz-linear-gradient(30deg, #78747a 45%, #664d7398 20%);
  background: linear-gradient(30deg, #78747a 45%, #664d7398 20%);
}

.loginFormDiv {
  display: flex;
  justify-content: center;
  text-align: center;

  margin: 0 auto;
  background-color: rgba(78, 73, 80, 0.984);
  border-radius: 10px;
  margin-top: 80px;
  padding: 56.3px;
  width: 35%;

  font-family: 'JetBrains Mono';
  font-size: 140%;
}

.loginBtn {
  background-color: #9e9aa0bb;
  border-radius: 10px;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: 'JetBrains Mono';
  font-size: 90%;
}

.loginTitleDiv {
  justify-content: center;
  display: flex;
  padding: 30px;
  margin-top: 30px;
}

.loginTitleSpan {
  align-items: center;
  color: rgb(241, 220, 220);
  font-size: 450%;
  font-family: 'JetBrains Mono';
  background-color: #664d7398;
  border-radius: 10px;
}

.regRedirect {
  background-color: #9671aa68;
  color: #cfbdbd;
  border-radius: 20px;
  padding: 5px;
}

.regLink {
  text-decoration: none;
  color: #978b8b;
}


.regLink:hover {
  background-color: #78747a;
  transition: all .2s ease-in-out;
}