.profileContainer {
  /* height: 100vh; */
  width: 100vw;

  /* position: fixed; */
  text-align: center;
  /* overflow-y: scroll; */

  overflow: auto;

  background: -webkit-linear-gradient(150deg, #664d7398 25%, #78747a 20%);
  background: -o-linear-gradient(150deg, #664d7398 25%, #78747a 20%);
  background: -moz-linear-gradient(150deg, #664d7398 25%, #78747a 20%);
  background: linear-gradient(150deg, #664d7398 25%, #78747a 20%);
}

.profileTitle {
  margin-top: 30px;
}

.profileTitleSpan {
  align-items: center;
  color: rgb(241, 220, 220);
  font-size: 250%;
  font-family: 'JetBrains Mono';
  background-color: rgba(162, 162, 162, 0.5);
  border-radius: 10px;
}

.contentBox {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(144, 122, 153, 0.713);
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
  padding-bottom: 15px;
}

.noContentBox {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(144, 122, 153, 0.713);
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
  padding-bottom: 15px;
  height: 70vh;
}

/* 
.userPosts {
  display: flex;

  margin: 0 auto;
  width: 43%;

  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);

  font-family: "Jetbrains Mono";
  font-size: 25px;

  margin-top: 20px;
  padding-bottom: 10px;
} */