.editBtn {
  display: flex;
  background-color: #9e9aa0bb;
  border-radius: 10px;
  color: white;

  float: left;
  padding: 15px;
  margin: 20px;

  cursor: pointer;
  /* width: fit-content; */
  font-family: 'JetBrains Mono';
  font-size: 75%;
  border-color: #a39c9cca;
  border-width: 2px;
  border-style: solid;
}

.editBtn:hover {
  background-color: #767377bb;
  transition: all .2s;
}