.detailsContainer {
  position: fixed;
  height: 100vh;
  width: 100vw;

  background: linear-gradient(-120deg, #664d73d7 30%, rgba(175, 162, 162, 0) 26%), url('../../img/geets.jpg');
}

.detailsDataDiv {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  border-style: solid;
  border-color: #cfbdbd;
  width: fit-content;
}

.detailsTitleDiv {
  font-family: "Jetbrains Mono";
  font-size: 25px;
  color: #cfbdbd;
  background-color: #664d73;
  padding: 10px;
}

.detailsTitle {
  background-color: #8c76988c;
  padding: 5px;
  border-radius: 10px;
}

.detailsImgDiv {
  padding: 20px;
}

.detailsImg {
  display: flex;
  margin: 0 auto;
  /* float: left; */
  padding: 5px;
  border-style: solid;
  border-radius: 8%;
}

.detailsParagraph {
  background-color: #8c76988c;
  padding: 5px;
  border-radius: 10px;
}